#ignore Enviroment variables
.env.tmp
.env
.settings
secrets/
.vscode 
build.log
*.log
srcs/requirements/nginx/conf/ssl/fullchain.crt
srcs/requirements/nginx/conf/ssl/privkey.key
privkey.key
fullchain.crt
